**/settings/Mainnet.toml
**/settings/Testnet.toml
**/history.txt
scraps.txt
cvm/vmstate.db
.DS_Store
nohup.out
# Ignore Node and NPM files. Added by the clarinet-sdk migration.
logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
**/node_modules
